<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>상품정보</h2>
    <div style="border: solid 1px red; font-size: 16px; padding: 20px; background-color: yellow;">
        @RenderBody()
    </div>

    <h3>ASP.NET TEST</h3>
</body>
</html>
