@model  MVCDemo.Models.Product

@{
    ViewBag.Title = "상품명";
    //Layout = "~/Views/_DemoiLayoutPage.cshtml";
}

상품명 : @Model.Name
@ViewBag.Message

<!--
<!DOCTYPE html>
<htnl>
    <head>
        <meta name ="viewport" content="width = device-width" />
        <title>Index</title>
    </head>

    <body>
        <div>
            @Model.Name
        </div>
    </body>
</htnl>
-->
